{
  "presets": [["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }], "stage-0" ],
  "plugins": [
    "emotion",
    [ "transform-react-jsx", { "pragma": "h" }]
  ]
}